* {
    margin: 0;
    padding: 0;
    border: 0;
}
body{ 
    background-color: #666;
}

nav#top-menu {
    width: 100%;
    height: 50px;
    background-color: #531;
    margin: 0;  
    padding: 0;
}

#top-menu ul {
    display: block;
    list-style-type: none;
    width: 600px;
    margin: 0 auto;
    padding: 0;
}

#top-menu ul li{
    margin: 0;
    padding: 0;
}

#top-menu ul li a {
    display: inline;
    float: left;
    max-height: 25px;
    width: 150px;
    margin: 10px 0px;
    padding: 0px 0;
    text-align: center;
    background-color: #531;
    text-decoration: none;
    color: #da1;
    border-bottom: #531 solid 2px;
}

a:hover {
    text-decoration: underline;

#top-menu ul li a:hover { border-bottom: #da1 solid 2px;}
}

.img-left { 
    display: block
    float: left;
    padding: 20px:
    margin: auto;

}
.top-bar-stretch{
    background-color: rgba(223,223,223, 1);
    width: 100%;
    box-shadow: 4px 4px 4px #111;
}
#mainheader {
    width: 790px; 
    background-color: #da1;
    padding-top: 100px;
    text-align: center;
    margin: 10px auto;
}



.maindiv {
    background: grey;
    margin: auto;
    width: 790px
}

#calltoaction{
    color: white;
    background-color: rgba(230,213,21,1);  
    box-shadow: 2px 2px 2px #111; 
    text-shadow: 2px 2px 2px #111; 
    border-radius: 10px;
    padding: 5px 5px 5px 10px;
    margin: auto;
    width: 150px;
}

footer{
    color: white;
    background-color: black;
    box-shadow: 4px 4px 4px #111;
    margin: auto;
}

.closing{
    margin: 790px
    width: 0 auto;
}
    


h1, h2 { 
    color: white;
}
