/*--------------------------------------------------Reset-----------------*/

h1, h2, h3, h4, p, body, article {
    margin: 0;
    padding: 0;
    border: 0;
    text-shadow: 2px 2px 10px #111;
}

p { 
    padding: 0px 20px 20px 20px;
    color: white;
}

h1, h2, h3, section, span{
    padding: 10px 20px 3px 20px;
}

h3 {
    font-variant: small-caps;
}

h2 {
    text-align: center;
    color: white;
}

/*--------------------------------------------Navigation head--------------*/

#top-menu {
    background-color: black;
    position: fixed;
    display: block;
    height: 75px;
    width: 100%;
    box-shadow: 2px 2px 10px #111;
}

#top-menu ul {
    width: 960px;
    margin: 0 auto;
    float: left;
    background-color: grey;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

#top-menu li { 
    width: 320px;
    overflow: hidden;
    background-color: white;
    float: left;
}

#top-menu a { 
    text-decoration: none;
    background-color: black;
    display: block;
    height: 75px;
    line-height: 75px;
    text-align: center;
    color: orange;
}

#top-menu a:visited {
    color: grey;
    background: black;
}

#top-menu a:hover {
    color: black;
    background: orange;
}

#top-menu a:active {
    color: orange;
    background: black;
}

#top-menu img {
    float: left;
    padding: 5px 0px 0px 150px;
}

/*------------------------------------------------Branding-----------------*/

#branding {
    color: white;
    background-image: url("../images/Up-lighting_TNDM_thumbnail.jpg");
    background-position: bottom right;
    text-align: center;
    line-height: 75px;
    padding: 75px 0px 0px 0px;
    text-shadow: 2px 2px 10px #111;
}

/*--------------------------------------------------Header-----------------*/

#wrapper {
    width:960px;
    margin: 0 auto;
    padding: 0px;
    box-shadow: 2px 2px 40px #111;

} 

header {
    background-color: rgba(0, 0, 0, .2);
    margin-top: 0; 
    width: 0;
}

/*-------------------------------------------Main Content------------------*/

body {
   
    background-image: url("../images/gradient_bg.png");
    background-repeat: repeat-x;
    background-color: #252122;
}

#intro { 
    background-color: rgba(0, 0, 0, .2);
    padding: 75px 0px 75px 0px;
    border-bottom: solid black 3px
}
/*--------------------------------------------------------CTA---------------*/
.calltoaction {
	-moz-box-shadow: inset 1px -2px 10px -32px #fce2c1;
	-webkit-box-shadow: inset 1px -2px 10px -32px #fce2c1;
	box-shadow: inset 1px -2px 10px -32px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color: orange;
	-webkit-border-top-left-radius: 18px;
	-moz-border-radius-topleft: 18px;
	border-top-left-radius: 18px;
	-webkit-border-top-right-radius: 18px;
	-moz-border-radius-topright: 18px;
	border-top-right-radius: 18px;
	-webkit-border-bottom-right-radius: 18px;
	-moz-border-radius-bottomright: 18px;
	border-bottom-right-radius: 18px;
	-webkit-border-bottom-left-radius: 18px;
	-moz-border-radius-bottomleft: 18px;
	border-bottom-left-radius: 18px;
	text-indent: 0px;
	border: 2px solid #eeb44f;
	display: block;
	color: #ffffff;
	font-family: Verdana;
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	height: 49px;
	line-height: 45px;
	width: 200px;
	text-decoration: none;
	text-align: center;
	text-shadow: 0px 4px 0px #cc9f52;
}

.calltoaction {
    padding: 0;
    margin: 0 auto;
    text-align: center;
   
}

.calltoaction a:visited {
    color: purple;
}

.calltoaction a:hover {
    color: black;
    background: orange;
}

.calltoaction a:active {
    color: black;
}

#article { 
    background-color: rgba(0, 0, 0, .2);
    width: 590px;
    float: left;
    border-right: 3px solid black;
}



#about { 
    background-color: rgba(0, 0, 0, .2);;
    float: left;
    clear: both;
    padding: 75px 0px 0px 0px;
    -moz-column-count: 3;
    -moz-column-rule: solid;
    border-top: 3px solid black;
}
    

/*------------------------------------------------TopLink-------------------*/
.toplink {
    background-color: black;
}

.toplink1 {
    color: orange;
    background-color: black;
    display: block;
    width: 65px;
    height: 35px;
    margin: 10px 0px 0px 0px;
    text-align: center;
    line-height: 35px;
}

#toplink1 a:hover {
    color: black;
    background: orange;
}

#toplink1 a:active {
    color: orange;
    background: black;
}


/*--------------------------------------------------Sidebar-----------------*/
aside { 
    background-color: rgba(0, 0, 0, .2);;
    width: 367px;
    float: right;
    padding-bottom: 0;
}

aside p { 
    padding-bottom: 0;
    margin: 0;
}

#charts {
    margin: 20px;
    text-align: center;
}

#charts li {
    list-style: circle;
}

#charts a:visited {
    color: orange;
    background: black;
}

#charts a:hover {
    color: black;
    background: orange;
}

#charts a:active {
    color: orange;
    background: black;
}







/*------------------------------------------------------Footer--------------*/
footer { 
    color: white;
    background-color: black;
    clear: both;
}

.closing {
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
}


/*----------------------------------------------------Gallery---------------*/
#gallery { 
    text-align: center;
    background-color: rgba(0, 0, 0, .2);
    clear: both;
    padding: 75px 0px 0px 0px;
}

#gallery ul {
    border-top: solid 2px black;
    list-style-type: none;
    width: 800px;
    margin: 0px auto;
    overflow: hidden;
}

#gallery li {
    float: left; 
    padding: 20px;
    margin: 0px 20px;
}
    